

nav{
    background-color: #013652 !important;
}

a{
    color: white;
}
.dropdown-menu{
    background-color: #1A5F83;
}
.dropdown-item{
    background-color: #1A5F83;
    color: white;
}
#carouselExampleCaptions{
    margin-top: 2%;
}
#idiomas{
    margin-top: 4%;
}

body{
    background-color: #EAEAEA !important;
}

.list-group-item-action:hover {
    background-color: #1A5F83;
    color: white;
}

.textoIzquierda{
    text-align: left !important;
}
.textoCentro{
    text-align: center !important;
}

#userTitle:hover{
    cursor: pointer;
}

.notification {
    /* background-color: #555; */
    color: white;
    text-decoration: none;
    /* padding: 15px 26px; */
    position: relative;
    display: inline-block;
    border-radius: 2px;
  }
  
  
  .notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
  }











