

nav{
    background-color: #013652 !important;
}

a{
    color: white;
}
.dropdown-menu{
    background-color: #1A5F83;
}
.dropdown-item{
    background-color: #1A5F83;
    color: white;
}
#carouselExampleCaptions{
    margin-top: 2%;
}
#idiomas{
    margin-top: 4%;
}
#nametoast{
    position: absolute;
    top: 4%;
    right: 0;
}
.toast-error-header{
    color: white;
    background-color: #14801F;
}
.toast-error-body{
    background-color: #53BD5E;
}

body{
    background-color: #EAEAEA !important;
}

.list-group-item-action:hover {
    background-color: #1A5F83;
    color: white;
}

.textoIzquierda{
    text-align: left !important;
}
.textoCentro{
    text-align: center !important;
}















