#sticky-footer{
    clear: both;
    position: relative;
    height: 80px;
    margin-top: 100px;
}


.carousel-item {
    height: 700px;
  }
  
  .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
  }

  #inputBUsuario{
    background-color: #5D75A1;
     color: white;
  }

  #inputBUsuario::placeholder{
     color: white;
  }


nav{
    z-index: 600;
    position: fixed !important;
    top: 0;
    width: 100vw;
    left: 0;
    background-color: #013652 !important;
    color: white !important;
}

a{
    color: white;
}
.dropdown-menu{
    background-color: #1A5F83;
}
.dropdown-item{
    background-color: #1A5F83;
    color: white;
}
#carouselExampleCaptions{
    margin-top: 2%;
}
#idiomas{
    margin-top: 4%;
}

body{
    padding-top: 5%;
    background-color: #EAEAEA !important;
}

.list-group-item-action:hover {
    background-color: #1A5F83;
    color: white;
}

.textoIzquierda{
    text-align: left !important;
}
.textoCentro{
    text-align: center !important;
}

#userTitle:hover{
    cursor: pointer;
}

.notification {
    /* background-color: #555; */
    color: white;
    text-decoration: none;
    /* padding: 15px 26px; */
    position: relative;
    display: inline-block;
    border-radius: 2px;
  }
  
  
  .notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
  }











