.miTab{
    color: black !important;
}

ul{
    border-color: #1A5F83 !important;
}
.active{
    border-color: #1A5F83 !important;
}

.x{
    border-color: #1A5F83 !important;
}

.elimUser:hover{
    cursor: pointer;
    color: gray;
}
.elimPreg:hover{
    cursor: pointer;
    color: gray;
}
.quitarReporte:hover{
    cursor: pointer;
    color: gray;
}

.enlace{
    text-decoration: none;
    color: black;
}
.enlace:hover{
    text-decoration: none;
}


#contenidoGestion{
    margin-top: 5%;
}
@media (max-width: 992px) {
    #contenidoGestion{
        margin-top: 10%;
    }
  }
