nav{
    background-color: #013652 !important;
}

a{
    color: white;
}
.dropdown-menu{
    background-color: #1A5F83;
}
.dropdown-item{
    background-color: #1A5F83;
    color: white;
}
#carouselExampleCaptions{
    margin-top: 2%;
}
#idiomas{
    margin-top: 4%;
}
